@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins:wght@400;500;600;700;900&family=Rubik:ital@0;1&display=swap');

*,
*:before,
*:after {
  box-sizing: border-box;
}

:root {
  --font-family: 'Poppins', sans-serif;
  --second-family: 'Inter', sans-serif;
  --third-family: 'Rubik', sans-serif;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

body {
  margin: 0;
  font-family: var(--font-family);
  
}

.header {
  background-color: #000;
}

.header__wrapper {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}